<div class="pageContainer" fxLayout="column" fxLayoutWrap>
    <div class="topBar" fxLayout="row">
      <button mat-raised-button (click)="openAdd()">+ Group</button>

      <div fxFlex="0 0 15px"></div>

      <button mat-raised-button>Import</button>

      <div fxFlex="0 0 15px"></div>

      <button mat-raised-button>Export</button>

      <div fxFlex="0 0 15px"></div>

      <button mat-raised-button>Delete</button>

      <div fxFlex="0 0 15px"></div>

      <button mat-raised-button>Restore</button>

      <div fxFlex="0 0 15px"></div>

      <button mat-raised-button>Clone</button>
  
      <div fxFlex="1 1 auto"></div>
  
      <div fxFlex="0 0 auto" fxLayoutAlign="center center">
          <span>Search: </span>
      </div>
  
      <div fxFlex="0 0 10px"></div>
  
      <input name="search" type="text" />
    </div>
  
    <div fxFlex="0 0 15px"></div>
  
    <div class="tableBox" fxFlex="1 1 auto" fxLayout="column">
      <div class="tableHeader" fxFlex="0 0 60px" fxLayout='row'>
        <div fxFlex="0 0 16px"></div>
  
        <div fxFlex="1 1 auto" fxLayoutAlign="center center">Workshop Groups</div>
  
        <div fxFlex="0 0 16px"></div>
      </div>
  
      <div class="tableBody" fxFlex="1 0 auto" fxLayout="column">
        <div class="tableBodyHeader" fxLayout="row">
          <div fxFlex="0 0 16px"></div>
  
          <div fxFlex="1 1 auto" fxLayoutAlign="center center" class="u-col">
            Workshop Group
          </div>
  
          <div fxFlex="1 1 auto" fxLayoutAlign="center center" class="u-col">
            No. of Workshop Units
          </div>
  
          <div fxFlex="1 1 auto" fxLayoutAlign="center center" class="u-col">
            Host
          </div>
  
          <div fxFlex="1 1 auto" fxLayoutAlign="center center" class="u-col-rightMost">
            Status
          </div>
  
          <div fxFlex="0 0 16px"></div>
        </div>
  
        <div class="tableBodyScrollViewer" fxFlex="1 0 auto">
            <groupListItem *ngFor="let group of data" [item]="group"></groupListItem>
        </div>
  
      </div>
    </div>
  </div>