<div class="serverContainer" fxLayout="column" fxLayoutWrap>
  <div class="topBar" fxLayout="row">
    <button mat-raised-button (click)="openAddServer()">+ Server</button>

    <div fxFlex="0 0 15px"></div>

    <button mat-raised-button>Delete</button>

    <div fxFlex="1 1 auto"></div>
  
    <div fxFlex="0 0 auto" fxLayoutAlign="center center">
        <span>Search: </span>
    </div>

    <div fxFlex="0 0 10px"></div>

    <input name="search" type="text" />
  </div>

  <div fxFlex="0 0 15px"></div>

  <div class="tableBox" fxFlex="1 1 auto" fxLayout="column">
    <div class="tableHeader" fxFlex="0 0 60px" fxLayout='row'>
      <div fxFlex="0 0 16px"></div>

      <div fxFlex="1 1 auto" fxLayoutAlign="center center">Servers</div>

      <div fxFlex="0 0 16px"></div>
    </div>

    <div class="tableBody" fxFlex="1 0 auto" fxLayout="column">
      <div class="tableBodyHeader" fxLayout="row">
        <div fxFlex="0 0 16px"></div>

        <div fxFlex="1 1 auto" fxLayoutAlign="center center" class="u-col">
          Server IP Address
        </div>

        <div fxFlex="1 1 auto" fxLayoutAlign="center center" class="u-col-rightMost">
          Status
        </div>

        <div fxFlex="0 0 16px"></div>
      </div>

      <div class="tableBodyScrollViewer" fxFlex="1 0 auto">
        <serverListItem *ngFor="let server of servers" [item]="server"></serverListItem>
      </div>

    </div>
  </div>
</div>