<div class="container">
  <div class="header" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="1 0 16px"></div>
    <span>New Workshop Group</span>
    <div fxFlex="1 0 16px"></div>
  </div>
  <div class="bodyContainer">
    <div class="body">
      <form [formGroup]="formGroup" #formDir="ngForm" (ngSubmit)="onSubmit(FormRef)" #FormRef="ngForm">
          <div class="body" fxLayout="column">
            <div fxFlex="0 0 15px"></div>
            
            <mat-form-field>
              <input formControlName="name" matInput required placeholder="Workshop Group Name" name="ip" maxlength="100"/>
            </mat-form-field>
    
            <mat-form-field>
              <textarea matAutosizeMaxRows="3" formControlName="desc" matInput required placeholder="Workshop Description" name="user" maxlength="200"></textarea>
            </mat-form-field>

            <mat-form-field *ngIf="unitsLoaded">
              <mat-select formControlName="units" name="units" required placeholder="Workshop Units" multiple>
                <mat-option *ngFor="let unit of units" value="{{unit['WUname']}}">{{ unit['WUname'] }}</mat-option>
              </mat-select>
            </mat-form-field>

            <div *ngIf="!unitsLoaded">
              LOADING WORKSHOP UNITS...
            </div>
    
            <mat-form-field>
              <input formControlName="rmat" matInput required placeholder="Reference Material Tag" name="rmat" maxlength="200"/>
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="persist" name="persist" required placeholder="Persistant Session?">
                <mat-option value="0">temporary</mat-option>
                <mat-option value="1">persistant</mat-option>
              </mat-select>
            </mat-form-field>
            
            <button mat-raised-button type="submit" value="submit" [disabled]="!FormRef.form.valid">Add</button>

            <div fxFlex="0 0 15px"></div>

            <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
    
            <div fxFlex="0 0 15px"></div>\
          </div>
        </form>
    </div>
  </div>
</div>