<div id="appContainer" fxLayout='column'>
  <div id="appHeader" fxFlex="0 0 80px" fxLayout='row'>
    <div fxFlex="0 0 16px"></div>

    <div fxLayoutAlign="start center">UTEP & ARL</div>

    <div fxFlex="1 0 1px"></div>

    <div fxFlex="0 0 auto" style="color: black; font-size: 12px;" fxLayoutAlign="end center" *ngIf="loggedIn != 0">
      <span style="background-color: grey; color: white; padding: 15px 15px; cursor: pointer;" (click)="clickMenu()">Logged in: {{ name }}</span>
    </div>

    <div fxFlex="0 0 16px"></div>
  </div>

  <div id="appBody" fxLayout="row" fxFlex="1 1 auto">
    <div id="appSideBar" fxLayout="column" fxFlex="0 0 150px" *ngIf="loggedIn != 3 && loggedIn != 0">
      <div class="sideBarMenuItem" fxFlex="0 0 35px" fxLayout="row" [ngStyle]="{'background-color': url === '/temp'? 'lightblue': ''}">
        <div fxFlex="0 0 16px"></div>
        <a [routerLink]="['/temp']"><div fxFlex="1 1 auto" fxLayoutAlign="center center">Temporary Workshop</div></a>
        <div fxFlex="0 0 16px"></div>
      </div>

      <div class="sideBarMenuItem" fxFlex="0 0 35px" fxLayout="row" [ngStyle]="{'background-color': url === '/persistant'? 'lightblue': ''}">
        <div fxFlex="0 0 16px"></div>
        <a [routerLink]="['/persistant']"><div fxFlex="1 1 auto" fxLayoutAlign="center center">Persistant Workshop</div></a>
        <div fxFlex="0 0 16px"></div>
      </div>
    </div>
    <div id="appSideBar" fxLayout="column" fxFlex="0 0 150px" *ngIf="loggedIn == 3">
      <div class="sideBarMenuItem" fxFlex="0 0 35px" fxLayout="row" [ngStyle]="{'background-color': url === '/server'? 'lightblue': ''}">
        <div fxFlex="0 0 16px"></div>
        <a [routerLink]="['/server']"><div fxFlex="1 1 auto" fxLayoutAlign="center center">Servers</div></a>
        <div fxFlex="0 0 16px"></div>
      </div>

      <div class="sideBarMenuItem" fxFlex="0 0 35px" fxLayout="row" [ngStyle]="{'background-color': url === '/virtualmachines'? 'lightblue': ''}">
        <div fxFlex="0 0 16px"></div>
        <a [routerLink]="['/virtualmachines']"><div fxFlex="1 1 auto" fxLayoutAlign="center center">Virtual Machines</div></a>
        <div fxFlex="0 0 16px"></div>
      </div>

      <div class="sideBarMenuItem" fxFlex="0 0 35px" fxLayout="row" [ngStyle]="{'background-color': url === '/groups'? 'lightblue': ''}">
        <div fxFlex="0 0 16px"></div>
        <a [routerLink]="['/groups']"><div fxFlex="1 1 auto" fxLayoutAlign="center center">Workshop Groups</div></a>
        <div fxFlex="0 0 16px"></div>
      </div>

      <div class="sideBarMenuItem" fxFlex="0 0 35px" fxLayout="row" [ngStyle]="{'background-color': url === '/units'? 'lightblue': ''}">
        <div fxFlex="0 0 16px"></div>
        <a [routerLink]="['/units']"><div fxFlex="1 1 auto" fxLayoutAlign="center center">Workshop Units</div></a>
        <div fxFlex="0 0 16px"></div>
      </div>

      <div class="sideBarMenuItem" fxFlex="0 0 35px" fxLayout="row" [ngStyle]="{'background-color': url === '/stat'? 'lightblue': ''}">
        <div fxFlex="0 0 16px"></div>
        <a [routerLink]="['/stat']"><div fxFlex="1 1 auto" fxLayoutAlign="center center">Statistics</div></a>
        <div fxFlex="0 0 16px"></div>
      </div>

      <div class="sideBarMenuItem" fxFlex="0 0 35px" fxLayout="row" [ngStyle]="{'background-color': url === '/users'? 'lightblue': ''}">
        <div fxFlex="0 0 16px"></div>
        <a [routerLink]="['/users']"><div fxFlex="1 1 auto" fxLayoutAlign="center center">Users</div></a>
        <div fxFlex="0 0 16px"></div>
      </div>
    </div>

    <div id="routerContainer" fxFlex="1 1 auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>