<div class="loginContainer" fxLayout="row" fxLayoutWrap>
  <div class="box" fxFlex="0 0 auto">
    <div class="header">
      Log in: Already have an account
    </div>


    <form #loginForm="ngForm" class="form">
      <div class="body" fxLayout="column">
        <div fxFlex="0 0 15px"></div>

        <input required placeholder="Email Address" name="email" maxlength="45" />

        <div fxFlex="0 0 15px"></div>

        <input required placeholder="Password" name="password" maxlength="45" type="password" />

        <div fxFlex="0 0 15px"></div>

        <button mat-raised-button type="submit" value="submit" (click)="clickLogin()" mat-button>Log in</button>

        <div fxFlex="0 0 15px"></div>

        <a href="#" fxLayoutAlign="end start">Forgot password</a>
      </div>
    </form>
  </div>

  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
    <div fxLayoutAlign="center center">
      <span>OR</span>
    </div>
  </div>

  <div class="box" fxFlex="0 0 auto">
    <div class="header">
      Register: Don't have an account
    </div>

    <form #registerForm="ngForm" class="form" (ngSubmit)="onRegister($event)">
      {{ registerForm.form | json }}
      <div class="body" fxLayout="column">
        <div fxFlex="0 0 15px"></div>

        <mat-form-field>
          <input matInput required placeholder="First Name" name="firstName" maxlength="45" [formControl]="formControl" [errorStateMatcher]="matcher"/>
        </mat-form-field>

        <mat-form-field>
          <input matInput required placeholder="Last Name" name="lastName" maxlength="45" [formControl]="formControl" [errorStateMatcher]="matcher"/>
        </mat-form-field>

        <mat-form-field>
          <input matInput required placeholder="Organization" name="org" maxlength="45" [formControl]="formControl" [errorStateMatcher]="matcher"/>
        </mat-form-field>

        <mat-form-field>
          <input matInput required placeholder="Email Address" name="email" maxlength="45" [formControl]="emailFormControl" [errorStateMatcher]="matcher"/>
          <mat-hint>Enter valid email!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput required placeholder="Password" name="password" maxlength="45" type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher"/>
          <mat-hint>At least 6 characters!</mat-hint>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput required placeholder="Confirm Password" name="confirmPassword" maxlength="45" type="password" [errorStateMatcher]="matcher"/>
        </mat-form-field>

        <div fxLayout="row">
          <mat-form-field>
            <mat-select name="skillLevel" placeholder="Skill Level" required>
              <mat-option value="Novice">Novice</mat-option>
              <mat-option value="Intermediate">Intermediate</mat-option>
              <mat-option value="Advanced">Advanced</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="0 0 15px"></div>

        <button mat-raised-button type="submit" value="submit" mat-button [disabled]="registerForm.form.valid">Register</button>
      </div>
    </form>
  </div>

  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
    <div fxLayoutAlign="center center">
      <span>OR</span>
    </div>
  </div>

  <div class="box" fxFlex="0 0 auto">
    <div class="header">
      Log in: Already have an account
    </div>


    <div class="form body" fxLayout="column">
      <div fxFlex="0 0 15px"></div>

      <div fxFlex="0 0 15px"></div>

      <button mat-raised-button type="submit" value="submit" (click)="clickGuestLogin()" mat-button>Guest Login</button>
    </div>
  </div>
</div>