<div class="loginContainer" fxLayout="row" fxLayoutWrap>
  <div class="box" fxFlex="0 0 auto">
    <div class="header">
      Log in: Already have an account
    </div>


    <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="onLogin(loginFormRef)" #loginFormRef="ngForm">
      <div class="body" fxLayout="column">
        <div fxFlex="0 0 15px"></div>
        
        <mat-form-field>
          <input formControlName="email" matInput required placeholder="Email" name="email" maxlength="100"/>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="pass" matInput required placeholder="Password" type="password" name="pass" maxlength="200"/>
        </mat-form-field>
        
        <button mat-raised-button type="submit" value="submit" [disabled]="!loginFormRef.form.valid">Login</button>

        <div fxFlex="0 0 15px"></div>

        <a href="#" fxLayoutAlign="end start">Forgot password</a>
      </div>
    </form>
  </div>

  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
    <div fxLayoutAlign="center center">
      <span>OR</span>
    </div>
  </div>

  <div class="box" fxFlex="0 0 auto">
    <div class="header">
      Register: Don't have an account
    </div>

    <form [formGroup]="registerForm" #formDir="ngForm" (ngSubmit)="onRegister(registerFormRef)" #registerFormRef="ngForm">
      <div class="body" fxLayout="column">
        <div fxFlex="0 0 15px"></div>

        <mat-form-field>
          <input formControlName="fname" matInput required placeholder="First Name" name="firstName" maxlength="100" [formControl]="fnameFormControl" [errorStateMatcher]="matcher"/>
          <mat-error *ngIf="fnameFormControl.hasError('pattern')">
            Name must not contain spaces
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="lname" matInput required placeholder="Last Name" name="lastName" maxlength="50" [formControl]="lnameFormControl" [errorStateMatcher]="matcher"/>
          <mat-error *ngIf="lnameFormControl.hasError('required')">
            Name must not contain spaces
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="org" matInput required placeholder="Organization" name="org" maxlength="45" [errorStateMatcher]="matcher"/>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="email" matInput required placeholder="Email Address" name="email" maxlength="45" [formControl]="emailFormControl" [errorStateMatcher]="matcher"/>
          <mat-error *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="pass" matInput required placeholder="Password" name="password" maxlength="45" type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher"/>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
            Password length of <strong>6</strong> is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="cpass" matInput required placeholder="Confirm Password" name="confirmPassword" maxlength="45" type="password" [errorStateMatcher]="matcher"/>
        </mat-form-field>

        <div fxLayout="row">
          <mat-form-field>
            <mat-select formControlName="skill"  name="skillLevel" placeholder="Skill Level" required>
              <mat-option value="0">Novice</mat-option>
              <mat-option value="1">Intermediate</mat-option>
              <mat-option value="2">Advanced</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="0 0 15px"></div>

        <button mat-raised-button type="submit" value="submit" [disabled]="!registerFormRef.form.valid">Register</button>
      </div>
    </form>
  </div>

  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
    <div fxLayoutAlign="center center">
      <span>OR</span>
    </div>
  </div>

  <div class="box" fxFlex="0 0 auto">
    <div class="header">
      Log in: Already have an account
    </div>


    <div class="form body" fxLayout="column">
      <div fxFlex="0 0 15px"></div>

      <div fxFlex="0 0 15px"></div>

      <button mat-raised-button type="submit" value="submit" (click)="clickGuestLogin()" mat-button>Guest Login</button>
    </div>
  </div>
</div>