<div class="pageContainer" fxLayout="column" fxLayoutWrap>
    <div class="topBar" fxLayout="row">
      <button mat-raised-button (click)="openAdd()">+ User</button>

      <div fxFlex="0 0 15px"></div>

      <button mat-raised-button (click)="onClickDelete()">Delete</button>
  
      <div fxFlex="1 1 auto"></div>
  
      <div fxFlex="0 0 auto" fxLayoutAlign="center center">
          <span>Search: </span>
      </div>
  
      <div fxFlex="0 0 10px"></div>
  
      <input name="search" type="text" />
    </div>
  
    <div fxFlex="0 0 15px"></div>
  
    <div class="tableBox" fxFlex="1 1 auto" fxLayout="column">
      <div class="tableHeader" fxFlex="0 0 60px" fxLayout='row'>
        <div fxFlex="0 0 16px"></div>
  
        <div fxFlex="1 1 auto" fxLayoutAlign="center center">User Profiles</div>
  
        <div fxFlex="0 0 16px"></div>
      </div>
  
      <div class="tableBody" fxFlex="1 0 auto" fxLayout="column">
        <div class="tableBodyHeader" fxLayout="row">
          <div fxFlex="0 0 16px"></div>
  
          <div fxFlex="1 1 auto" fxLayoutAlign="center center" class="u-col">
            First Name
          </div>
  
          <div fxFlex="1 1 auto" fxLayoutAlign="center center" class="u-col">
            Last Name
          </div>
  
          <div fxFlex="1 1 auto" fxLayoutAlign="center center" class="u-col-rightMost">
            Organization
          </div>
  
          <div fxFlex="0 0 16px"></div>
        </div>
  
        <div class="tableBodyScrollViewer" fxFlex="1 0 auto">
            <userListItem (deleteEvent)="deleteEvent($event)" *ngFor="let user of data" [item]="user"></userListItem>
        </div>
  
      </div>
    </div>
  </div>