/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
}

.u-full-height {
    height: 100%;
}

.tableBox {
    border: 1px solid black;
}

.tableHeader {
    background-color: lightcyan;
    font-size: 24px;
    border-bottom: 1px solid black;
}

.tableBody {
    background-color: white;
    width: 100%;
    height: 100%;
}